/*Définition des couleurs primaires et autres paramètres*/
:root{
    --light-blue:rgb(130, 178, 236);
}
/*Background paramètre*/
body {
    margin: 0;
    padding: 0;

    background-image: 
    /* 2. Le motif de bruit en SVG injecté directement en CSS */
    url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://w3.org id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.025'/%3E%3C/svg%3E"),
    linear-gradient( rgb(78, 14, 14), rgb(24, 5, 7), rgb(6, 5, 12));
    overflow: hidden;
}

#background-index{
    width: 100vw;
    height: 100vh;
}

.test-blue{
    color:var(--light-blue);
    font-weight: bold;
    text-shadow: 
        0 0 2px #82B2EC;
}
