/* Partie header et constantes */
:root{
    --black_dark: rgb(26,26,26);
    --black_mid: rgb(51,51,51);
    --black_light: rgb(78,78,78);
}
body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    padding-top: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--black_dark);
    border-bottom:solid 6px var(--black_light);
}
header a{
    text-decoration: none;
    color: rgb(153, 45, 255);
}
#destination{
    text-decoration: underline;
    color: white;
}
#cont_head{
    color: white;
    overflow: auto;
}
#logo_head{
    float: left;
}
header img{
    border: 1px solid white ;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 50px;
    height: 60px;
    width: 60px;
    filter: brightness(100%);
    transition: filter 0.3s ease-in;
}
header img:hover{
    filter: brightness(60%);
}
/* liens vers les autres pages dans le header*/
#s-lien{
    margin-right: 45px;
}
#s-lien div{
    float: right;
    margin-top: 14px;
    margin-right: 85px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 13px;
    background: var(--black_mid);
    border: 1px solid white;
    transition: background-color 0.4s ease, transform 0,5s ease;
}
#s-lien div:hover{
    background-color: var(--black_light);
    transform: translateY(-2px);
}

/* Partie principale */
h1{
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    margin-top: 100px;
    margin-left: 50px;
    color: gray;
}
/* Presentation*/
#cont_pre{
    text-align: center;
    margin: 0 250px;
    padding-bottom: 40px;
    margin-top: 50px;
    border-radius: 20px;
    border: solid 5px var(--black_dark);
    background: var(--black_light);
    box-shadow: 10px 10px 30px var(--black_mid);
}
div#cont_pre img{
    margin-top: 40px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid 5px var(--black_dark);
}
div#cont_pre div{
    color: white;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
/* Language */
#langue_parent{
    background-color: red ;
    overflow: hidden;
}
div#langue_parent img{
    height: 100px;
    width: 100px;
}
div#langue_parent{
    float: left;
    margin-left: 70px;
    text-align: center;
    background-color: aqua;
}