body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    padding-top: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(26, 26, 26);
}
header a{
    text-decoration: none;
    color: rgb(153, 45, 255);
}
#cont_head{
    color: white;
    overflow: auto;
}
#logo_head{
    float: left;
}
header img{
    border: 1px solid white ;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 50px;
    height: 60px;
    width: 60px;
    filter: brightness(100%);
    transition: filter 0.3s ease-in;
}
header img:hover{
    filter: brightness(60%);
}
#s-lien{
    margin-right: 45px;
}
#s-lien div{
    float: right;
    margin-top: 12px;
    margin-right: 85px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 13px;
    background: rgb(51, 51, 51);
    border: 1px solid white;
    transition: background-color 0.4s ease, transform 0,5s ease;
}
#s-lien div:hover{
    background-color: rgb(78, 78, 78);
    transform: translateY(-2px);
}